p {
  margin: 20px 0;
}

.app-container {
  width: 70%;
  margin: 10vh auto;
  font-size: 100%;
  font-weight: 300;
}

.section {
  padding-bottom: 4vh;
}

.section .section-title {
  color: #039be5;
  font-size: 1.8em;
  font-weight: 600;
}

.section .section-desc {
  font-style: italic;
}

.subsection {
  margin-top: 4vh;
  margin-bottom: 10vh;
}

.subsection .subsection-title {
  color: #445963;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subsection .subsection-title .date {
  margin: 0 28px;
  font-size: 0.6em;
}

.subsection .footnotes {
  font-style: italic;
  color: #006db3;
}

.social-icon {
  font-size: 1.3em;
  margin: 0 6px;
}

.github {
  color: black;
}

.github:hover {
  color: black;
  opacity: 0.8;
}

.linkedin {
  color: rgb(42, 102, 188);
}

.linkedin:hover {
  color: rgb(42, 102, 188);
  opacity: 0.8;
}
